.first-law-section {
  color: black;
  line-height: 1.8;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.first-law-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.intro-text {
  font-size: 1.3rem;
  margin-bottom: 30px;
  line-height: 1.9;
  text-align: justify;
  padding-left: 20px;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 20px;
  text-align: left;
}

.math-section .section-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.custom-list {
  list-style-type: none;
  padding-left: 90px;
  font-size: 1.3rem;
  margin-bottom: 30px;
  text-align: justify;
}

.custom-list li {
  margin-bottom: 15px;
  position: relative;
  line-height: 1.8;
  padding-left: 30px;
}

.custom-list li:before {
  content: "‣";
  position: absolute;
  left: 0;
  font-size: 1.3rem;
  padding-right: 20px;
}

.example-desc {
  font-size: 1.3rem;
  padding-left: 60px;
  margin-bottom: 20px;
  text-align: justify;
}

.math-section,
.sign-conventions,
.example-section,
.summary-section {
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
}

.activity-link {
  padding: 10px 30px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.activity-link:hover {
  color: white;
  background-color: black;
}
